<p>
  password-manager-form works!
</p>
<div>
  <form (submit)="saveForm()" #passwordForm="ngForm">
    <div>
      <label for="sitename">Site Name*</label>
      <input id="sitename" type="text" name="sitename" 
        [(ngModel)]="formData.siteName"
        #sitename="ngModel"
        required/>
      <div *ngIf="sitename.invalid && formSubmitted">Required</div>
    </div>
    <div>
      <label for="username">Username*</label>
      <input id="username" type="text" name="username" 
        [(ngModel)]="formData.username"
        #username="ngModel"
        required/>
        <div *ngIf="username.invalid && formSubmitted">Required</div>
    </div>
    <div>
      <label for="password">Password*</label>
      <input id="password" type="text" name="password" 
        [(ngModel)]="formData.password"
        #password="ngModel"
        required/>
        <div *ngIf="password.invalid && formSubmitted">Required</div>
    </div>
    <button type="submit" >Save</button>
    <button type="reset" >Cancet</button>
  </form>
</div>