<p>
  password-manager works!
</p>
<button (click)="showAddEditForm=!showAddEditForm">{{showAddEditForm?'Hide':'Show'}} Form</button>
<div *ngIf="showAddEditForm">
  <app-password-manager-form [formData]="selectedData"></app-password-manager-form>
</div>
<div *ngIf="!showAddEditForm">
  
</div>