<p>
  login Page!
</p>
<form (ngSubmit)="login()">
  <div>
    <input type="text" name="username" [(ngModel)]="user.username" placeholder="Username" />
  </div>
  <div>
    <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>